/*
Error: File to import not found or unreadable: bourbon.
       Load paths:
         /Users/mateo/coding_projects/OpenAustin/atx-citysdk-js/sass
         /Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets
         Compass::SpriteImporter
        on line 8 of /Users/mateo/coding_projects/OpenAustin/atx-citysdk-js/sass/style.scss

3: 
4: //Core partials
5: @import "variables";
6: @import "mixins";
7: @import "base";
8: @import "bourbon";
9: 
10: // Compoment partials
11: @import "modules";
12: @import "welcome";
13: @import "navigation";

Backtrace:
/Users/mateo/coding_projects/OpenAustin/atx-citysdk-js/sass/style.scss:8
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/import_node.rb:45:in `import'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/mateo/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/Users/mateo/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/Users/mateo/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/mateo/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bourbon.\A        Load paths:\A          /Users/mateo/coding_projects/OpenAustin/atx-citysdk-js/sass\A          /Users/mateo/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.3/stylesheets\A          Compass::SpriteImporter\A         on line 8 of /Users/mateo/coding_projects/OpenAustin/atx-citysdk-js/sass/style.scss\A \A 3: \A 4: //Core partials\A 5: @import \"variables\";\A 6: @import \"mixins\";\A 7: @import \"base\";\A 8: @import \"bourbon\";\A 9: \A 10: // Compoment partials\A 11: @import \"modules\";\A 12: @import \"welcome\";\A 13: @import \"navigation\";"; }
